name: Kernel CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    # manual trigger
  schedule:
    - cron: '0 22 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    container: locietta/loia-dev-base:latest
    outputs:
      current_version: ${{ steps.out.outputs.current_version }}
      release_version: ${{ steps.out.outputs.release_version }}
      clang_version:   ${{ steps.out.outputs.clang_version }}
    
    strategy: 
      matrix:
        include:
          - arch: GENERIC_CPU2
            image-name: bzImage-old
          - arch: GENERIC_CPU3
            image-name: bzImage
          - arch: MSKYLAKE
            image-name: bzImage-skylake

    steps:
    - uses: actions/checkout@v2
    
    - name: Install dependencies
      id: dep
      run: |
        pacman -S --noconfirm pahole xmlto inetutils bc cpio
    #     if [ "$GITHUB_EVENT_NAME" == "pull_request" ]; then
    #       echo "::set-output name=sha_short::$(git rev-parse ${{ github.event.pull_request.head.sha }})"
    #     else 
    #       echo "::set-output name=sha_short::$(git rev-parse HEAD)"
    #     fi
    # - name: Check outputs
    #   run: echo ${{ steps.dep.outputs.sha_short }} 
    
    - name: Prepare source code
      run: |
        git clone https://github.com/xanmod/linux.git --depth 1 linux
        cd linux && ../config.sh
        scripts/config -e ${{ matrix.arch }}
        # Load version info into env
        echo "CLANG_VERSION=$(pacman -Qs clang | grep local/clang | sed "s#.*local/clang \(.*\)#\1#")" | tee -a $GITHUB_ENV
        echo "CURRENT_VERSION=$(make kernelrelease)" | tee -a $GITHUB_ENV
        echo "RELEASED_VERSION=$(curl --silent 'https://github.com/locietta/xanmod-kernel-WSL2/releases/latest' | sed 's#.*tag/\(.*\)\".*#\1#')" | tee -a $GITHUB_ENV

    - name: Build kernel
      if: ${{ env.CURRENT_VERSION != env.RELEASED_VERSION || github.event_name == 'pull_request' }}
      run: |
        cd linux && ../build.sh
        mv arch/x86/boot/bzImage ../${{ matrix.image-name }}

    - name: Upload bzImage
      uses: actions/upload-artifact@v3
      if: ${{ env.CURRENT_VERSION != env.RELEASED_VERSION || github.event_name == 'pull_request' }}
      with:
        name: ${{ matrix.image-name }}
        path: ${{ matrix.image-name }}

    - id: out
      run: |
        echo "::set-output name=current_version::${{ env.CURRENT_VERSION }}"
        echo "::set-output name=release_version::${{ env.RELEASED_VERSION }}"
        echo "::set-output name=clang_version::${{ env.CLANG_VERSION }}"

  release:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v2
    - uses: actions/download-artifact@v3
      with:
        path: release_images/

    - id: fetch_commit_sha
      run: |
        if [ ${{ github.event_name == 'pull_request' }} ]; then
          echo "::set-output name=sha_short::$(git rev-parse ${{ github.event.pull_request.head.sha }})"
        else 
          echo "::set-output name=sha_short::$(git rev-parse HEAD)"
        fi

    - name: Release
      uses: softprops/action-gh-release@v1
      if: ${{ needs.build.outputs.current_version != needs.build.outputs.release_version }}
      with:
        name:  ${{ needs.build.outputs.current_version }}
        tag_name:  ${{ needs.build.outputs.current_version }}
        draft: ${{ github.event_name == 'pull_request' }}
        target_commitish: ${{ steps.fetch_commit_sha.outputs.sha_short }} 
        body: |
          Cutting edge XanMod kernel for WSL2, built with Clang ${{ needs.build.outputs.clang_version }} shipped by Arch Linux.
          Provide builds on different archs with matrix build utility of GitHub Action.

          * `bzImage` for generic-x86_64-v3
          * `bzImage-old` for generic-x86_64-v2
          * `bzImage-skylake` for intel skylake

          To check supported x86_64 level on your machine, see [how to check supported x86_64 level of the hardware](https://unix.stackexchange.com/questions/631217/how-do-i-check-if-my-cpu-supports-x86-64-v2?msclkid=42ca61e9aa7111ecbcab7bb1a4204357).
          And if you happen to use intel skylake chips (just like me), you can choose `bzImage-skylake` for best tuning.

          **NOTE for Win11**: the minimum requirement of Win11 ensures generic-x86_64-v3 support, so feel free to use `bzImage`.
          
        files: |
          release_images/*/*
        token: ${{ secrets.CUSTOM_GITHUB_TOKEN }}
        generate_release_notes: true
        fail_on_unmatched_files: true